@import url('https://fonts.cdnfonts.com/css/tahoma');
@import url('https://fonts.cdnfonts.com/css/trebuchet-ms-2');

@font-face {
    font-family: "Terminal";
    src: url('/fonts/console.ttf');
}

body {
    font-family: 'Tahoma', sans-serif;
    overflow:hidden;
    font-smooth: never;
    -webkit-font-smoothing : none;
    font-size: 11px;
}

.trebuchet {
    font-family: 'Trebuchet MS', sans-serif;
}
