.bg-gradient {
  background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.gradient-text {
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.noscrollbar::-webkit-scrollbar {
  display: none;
}

.wavy-underline {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-underline-offset: 0.2em;
  text-decoration-color: #FFC200; 
}